<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloset.admin.mapper.AdminMapper">

	<!-- 1. 페이징을 적용한 회원목록 리스트 가져오기(관리자만 볼 수 있음) -->
	<select id="getListWithPaging" resultType="com.mycloset.admin.vo.AdminVO">
		<![CDATA[
			SELECT 
			@rownum:= @rownum +1 rownum, ]]>
			member_id, 
			member_name, 
			member_sex, 
			member_phone, 
			member_email, 
			member_height, 
			member_top_size, 
			member_bottom_size,
			member_shoes_size, 
			member_face, 
			member_reg_date, 
			member_grade,
			member_status
			FROM member
			WHERE 
			<include refid="criteria"/> 
			1=1 
			ORDER BY member_reg_date DESC
			LIMIT #{startNum}, #{cri.amount}	
	</select>

	<!-- 2. 회원정보보기(관리자 입장에서) / 내정보보기(회원 입장에서) -->
	<select id="view" resultType="com.mycloset.admin.vo.AdminVO">
	SELECT
		member_id, 
		member_name, 
		member_sex, 
		member_phone, 
		member_email, 
		member_height, 
		member_top_size, 
		member_bottom_size,
		member_shoes_size, 
		member_face, 
		member_reg_date, 
		member_grade,
		member_status
	FROM member
	WHERE member_id = #{member_id}
	</select>
	
	<!-- 3. 회원등급변경 -->
	<update id="changeGrade">
	UPDATE member
	SET member_grade = #{grade}
	WHERE member_id = #{member_id}
	</update>
	
	<!-- 4. 회원 상태 변경 -->
	<update id="changeStatus">
	UPDATE member
	SET member_status = #{status}
	WHERE member_id = #{member_id}
	</update>
	
	<!-- 5. 회원 강퇴 -->
	<delete id="delete">
	DELETE
	FROM member
	WHERE member_id = #{member_id}
	</delete>

	<!-- 6. 총 개수 세기 -->
	<select id="getTotalNum" resultType="Integer">
	SELECT count(*) 
	FROM member
	WHERE <include refid="criteria"/>1=1 
	</select>
	
	<!-- 7. 검색 처리 태그 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'I'.toString()">
							member_id LIKE CONCAT('%', #{cri.keyword}, '%')
						</when>
						<when test="type == 'N'.toString()">
							member_name LIKE CONCAT('%', #{cri.keyword}, '%')
						</when>
						<when test="type == 'G'.toString()">
							member_grade LIKE CONCAT('%', #{cri.keyword}, '%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
</mapper>
