<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloset.qna.mapper.QnaMapper">
	<!-- 1.리스트(list) -->

	<select id="getListWithPaging"
		resultType="com.mycloset.qna.vo.QnaVO">
		<![CDATA[
		SELECT
			qna_no AS no,
			qna_question_title AS qTitle, 
			qna_question_content AS qContent,
			qna_question_writer AS qWriter, 
			qna_question_date AS qDate,
			qna_question_image AS qImage,
			qna_answer_title AS aTitle, 
			qna_answer_content AS aContent,
			qna_answer_writer AS aWriter, 
			qna_answer_date AS aDate,
			qna_answer_image AS aImage
		FROM(
			SELECT 
				(@ROWNUM:=@ROWNUM+1) AS RNUM,
				qna_no,				
				qna_question_writer, 
				qna_question_title, 
				qna_question_content,
				qna_question_image,
				qna_question_date,
				qna_answer_writer, 
				qna_answer_title, 
				qna_answer_content,
				qna_answer_image,
				qna_answer_date
			FROM(
				SELECT
					qna_no, 
					qna_question_writer, 
					qna_question_title, 
					qna_question_content,
					qna_question_image,
					qna_question_date,
					qna_answer_writer, 
					qna_answer_title, 
					qna_answer_content,
					qna_answer_image,
					qna_answer_date
				FROM qna
		) AS A, (SELECT @ROWNUM:=0) AS B]]>
		) AS C
		WHERE 
		<include refid="criteria" /> 
		1=1
<!-- 		ORDER BY no DESC -->
		LIMIT #{startNum}, #{cri.amount}
	</select>

	<!-- 검색 처리 태그 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							qna_question_title LIKE CONCAT('%', #{cri.keyword}, '%')
						</when>
						<when test="type == 'C'.toString()">
							qna_question_content LIKE CONCAT('%', #{cri.keyword}, '%')
						</when>
						<when test="type == 'W'.toString()">
							qna_question_writer LIKE CONCAT('%', #{cri.keyword}, '%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<!-- 총 게시물 개수 세기 -->
	<select id="getTotalNum" resultType="Integer">
	SELECT count(*) FROM qna
	WHERE <include refid="criteria"/>1=1 
	</select>

	<!-- 2.글보기(view) -->
	<select id="view" resultType="com.mycloset.qna.vo.QnaVO">
		SELECT
			qna_no AS no,
			qna_question_title AS qTitle, 
			qna_question_content AS qContent,
			qna_question_writer AS qWriter, 
			qna_question_date AS qDate,
			qna_question_image AS qImage,
			qna_answer_title AS aTitle, 
			qna_answer_content AS aContent,
			qna_answer_writer AS aWriter, 
			qna_answer_date AS aDate,
			qna_answer_image AS aImage
		FROM qna
		where qna_no = #{no}
	</select>

	<!-- 3.글쓰기(write) -->
	<insert id="write">
		INSERT INTO qna(
			qna_question_title, 
			qna_question_content, 
			qna_question_writer, 
			qna_question_date,
			qna_question_image)
		VALUES(
			#{qTitle},
			#{qContent},
			#{qWriter},
			CURDATE(),
			#{qImage})
	</insert>
	
	<!-- 3-1.답변쓰기(writeAnswer) -->
	<update id="writeAnswer">
		UPDATE qna
		SET qna_answer_title =#{aTitle},
			qna_answer_content =#{aContent},
			qna_answer_writer =#{aWriter},
			qna_answer_date =CURDATE(),
			qna_answer_image =#{aImage}
		WHERE qna_no =#{no}
	</update>
	
	<!-- 4. 수정(update) -->
	<update id="update">
		UPDATE qna 
		SET qna_question_title =#{qTitle}, 
			qna_question_content =#{qContent}, 
			qna_question_writer =#{qWriter}, 
			qna_question_date =CURDATE(),
			qna_question_image =#{qImage}
		WHERE qna_no =#{no}
	</update>
	<!-- 4-1. 답변수정(updateAnswer) -->
	<update id="updateAnswer">
		UPDATE qna 
		SET qna_answer_title =#{aTitle}, 
			qna_answer_content =#{aContent}, 
			qna_answer_writer =#{aWriter}, 
			qna_answer_date =CURDATE(),
			qna_answer_image =#{aImage}
		WHERE qna_no =#{no}
	</update>
	<!-- 5. 삭제(delete) -->
	<delete id="delete">
		DELETE 
		FROM qna
		WHERE qna_no =#{no}
	</delete>
</mapper>