<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloset.closet.mapper.ClosetMapper">
<!-- 옷 등록 -->
<insert id="enroll">
	insert into closet(
	clothes_id, clothes_type, clothes_name, clothes_info, clothes_size, clothes_photo, clothes_purchase_year, clothes_purchase_price, clothes_season, member_id
	 )
	values(
	#{clothes_id}, #{clothes_type}, #{clothes_name}, #{clothes_info}, #{clothes_size}, #{clothes_photo}, #{clothes_purchase_year}, #{clothes_purchase_price}, #{clothes_season}, #{member_id}
	)
</insert>
<!-- 옷 리스트 -->
<select id="list" resultType="com.mycloset.closet.vo.ClosetVO">
	select 
	clothes_id, clothes_type, clothes_name, clothes_info, clothes_size, clothes_photo, clothes_purchase_year, clothes_purchase_price, clothes_season
	from closet
	where #{id} = member_id
</select>

<!-- 페이지 네이션을 적용한 리스트 가져오기 -->
<select id="getListWithPaging" resultType="com.mycloset.closet.vo.ClosetVO">
	<![CDATA[
		select 
		@rownum:= @rownum +1 rownum, clothes_id, clothes_type, clothes_name, clothes_info, clothes_size, clothes_photo, clothes_purchase_year, clothes_purchase_price, clothes_season
		from closet
		where (@rownum:=0)=0
		limit 0, #{limitMax}

		]]>
<!-- 		limit (#{pageNum}-1) * #{amount}, #{pageNum} * #{amount} -->
</select>

<!-- 옷 보기 -->
	<select id="view" resultType="com.mycloset.closet.vo.ClosetVO">
	select
	clothes_id, clothes_type, clothes_name, clothes_info, clothes_size, clothes_photo, clothes_purchase_year, clothes_purchase_price, clothes_season
	from closet
	where #{clothes_id} = clothes_id and #{member_id} = member_id
	</select>
	
<!-- 옷 총 개수 세기 -->
	<select id="getTotalNum" resultType="Integer">
	select count(clothes_id) from closet
	</select>
</mapper>