<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloset.fitting.mapper.FittingMapper">
	<!-- 옷 등록 -->
	<update id="enroll">
		
				insert into fitting (
			outer_clothes_id,
			top_clothes_id,
			bottom_clothes_id,
			fitting_name,
			fitting_image,
			fitting_info,
			fitting_open_range,
			fitting_season,
			fitting_price,
			member_id
		) SELECT 
			A.clothes_id AS outer_clothes_id,
			B.clothes_id AS top_clothes_id, 
			C.clothes_id AS bottom_clothes_id,
			#{fitting_name} fitting_name,
			#{outer_clothes_photo} fitting_image,
			#{fitting_info} fitting_info,
			#{fitting_open_range} fitting_open_range,
			#{fitting_season} fitting_season,
			(A.clothes_purchase_price + B.clothes_purchase_price + C.clothes_purchase_price) AS price,
			#{member_id} member_id
			FROM 
				(SELECT clothes_id, clothes_purchase_price 
				FROM closet
				WHERE
				member_id =#{member_id} AND clothes_photo LIKE #{outer_clothes_photo}) A
				JOIN
				(SELECT clothes_id, clothes_purchase_price 
				FROM closet
				WHERE
				member_id =#{member_id} AND clothes_photo LIKE #{top_clothes_photo}) B
				JOIN
				(SELECT clothes_id, clothes_purchase_price 
				FROM closet
				WHERE
				member_id =#{member_id} AND clothes_photo LIKE #{bottom_clothes_photo}) C	
	</update>
		<!-- <selectKey resultType="hashmap" keyColumn="outer_clothes_id,top_clothes_id,bottom_clothes_id,price"
			keyProperty="outer_clothes_id,top_clothes_id,bottom_clothes_id,price" order="BEFORE">
			SELECT 
			A.clothes_id AS outer_clothes_id, B.clothes_id AS top_clothes_id, 
			C.clothes_id AS bottom_clothes_id, 
			(A.clothes_purchase_price + B.clothes_purchase_price + C.clothes_purchase_price) AS price
			FROM 
				(SELECT clothes_id, clothes_purchase_price 
				FROM closet
				WHERE
				member_id = #{member_id} and clothes_photo = #{outer_clothes_photo}) A
				JOIN
				(SELECT clothes_id, clothes_purchase_price 
				FROM closet
				WHERE
				member_id = #{member_id} and clothes_photo =#{top_clothes_photo}) B
				JOIN
				(SELECT clothes_id, clothes_purchase_price 
				FROM closet
				WHERE
				member_id = #{member_id} and clothes_photo = #{bottom_clothes_photo}) C	
		</selectKey>
		insert into fitting(
		outer_clothes_id, top_clothes_id,
		bottom_clothes_id, fitting_name, fitting_image,
		fitting_info,
		fitting_open_range, fitting_season, fitting_price,
		member_id
		)
		values(
		#{outer_clothes_id}, #{top_clothes_id}, #{bottom_clothes_id},
		#{fitting_name}, #{top_clothes_id}, #{fitting_info},
		#{fitting_open_range},
		#{fitting_season}, #{price}, #{member_id}
		) -->
			
		


	<!-- 옷 리스트 -->
	<select id="list" resultType="com.mycloset.fitting.vo.FittingVO">
		select
		fitting_id, clothes_type,
		clothes_name, clothes_info, clothes_size,
		clothes_photo,
		clothes_purchase_year, clothes_purchase_price,
		clothes_season
		from
		closet
		where #{id} = member_id
	</select>

	<!-- 페이지 네이션을 적용한 리스트 가져오기 -->
	<select id="getListWithPaging"
		resultType="com.mycloset.fitting.vo.FittingVO">
	<![CDATA[
		select 
		@rownum:= @rownum +1 rownum, 
		fitting_id,
		outer_clothes_id,
		top_clothes_id,
		bottom_clothes_id,
		fitting_name,
		fitting_image,
		fitting_info,
		fitting_open_range,
		fitting_season,
		fitting_price
		from fitting
		where (@rownum:=0)=0
		limit 0, #{limitMax}

		]]>
		<!-- limit (#{pageNum}-1) * #{amount}, #{pageNum} * #{amount} -->
	</select>

	<!-- 옷 보기 -->
	<select id="view" resultType="com.mycloset.fitting.vo.FittingVO">
		select
		fitting_id,
		outer_clothes_id,
		top_clothes_id,
		bottom_clothes_id,
		fitting_name,
		fitting_image,
		fitting_info,
		fitting_open_range,
		fitting_season,
		fitting_price
		from
		fitting
		where #{fitting_id} = fitting_id and #{member_id} = member_id
	</select>

	<!-- 옷 수정 -->
	<update id="update">
		update closet
		set
		clothes_type = #{clothes_type},
		clothes_name =
		#{clothes_name},
		clothes_info = #{clothes_info},
		clothes_size =
		#{clothes_size},
		<!-- <![CDATA[ -->
		<!-- <if test="clothes_photo neq '\\upload\\closet\\'"> -->
		<if test="clothes_photo != null">
			clothes_photo = #{clothes_photo},
		</if>
		<!-- ]]> -->

		<!-- <if test="clothes_purchase_year neq STR_TO_DATE(#{clothes_purchase_year}, 
			'%Y-%m-%d')"> -->
		clothes_purchase_year = #{clothes_purchase_year},
		<!-- </if> -->
		clothes_purchase_price = #{clothes_purchase_price},
		clothes_season =
		#{clothes_season}
		where clothes_id = #{clothes_id}
		<!-- where member_id= #{member_id} -->
	</update>

	<!-- 옷 삭제 -->
	<delete id="delete">
		delete from closet
		where clothes_id = #{clothes_id}
		and member_id = #{member_id}
	</delete>
	<!-- 옷 이미지 가져오기 -->
	<select id="getImages"
		resultType="com.mycloset.fitting.vo.ImageVO">
		select clothes_photo
		from closet
		where member_id =
		#{member_id}
	</select>

	<!-- 옷 총 개수 세기 -->
	<select id="getTotalNum" resultType="Integer">
		select count(clothes_id)
		from closet
	</select>
</mapper>