<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycloset.member.mapper.MemberMapper">

<!-- 회원가입 처리 -->
<insert id="signUp">
	insert into member(
	member_id, member_password,  member_name, member_sex, member_birthday, member_phone,
	member_email, member_height, member_top_size, member_bottom_size, member_shoes_size, member_face, member_reg_date,
	member_grade, member_status
	 )
	values(
	#{member_id}, #{member_password}, #{member_name}, #{member_sex}, #{member_birthday}, #{member_phone},
	#{member_email}, #{member_height}, #{member_top_size}, #{member_bottom_size}, #{member_shoes_size}, #{member_face}, 
	#{member_reg_date}, #{member_grade}, #{member_status}
	)
</insert>
</mapper>